build/
*.ipr
run/
*.iws
out/
*.iml
.gradle/
output/
bin/
libs/
common/src/main/java/com/yuushya/mappings/
fabric/src/main/java/com/yuushya/mappings/
forge/src/main/java/com/yuushya/mappings/

.classpath
.project
.idea/
classes/
.metadata
.vscode
.settings
*.launch